<%- include('partials/header') %>

<!-- Page 1 -->
<div class="container">
    <div class="a4-border">
        <img src="assets/Picture1.png" alt="" style="display: block; margin: 0 auto;"> 
        <div style="text-align: center;">
            <h3>KEP ENGINEERING SERVICES PVT. LTD.</h3>
            <p>149/A, Toopran Mandal, Kallakal Village, Medak, Hyderabad, Telangana-502336.</p>
            <p>Tel: +91-8454-235236</p>
            <p>
                Email: 
                <a href="mailto:info@kepengg.com">info@kepengg.com</a>,
                <a href="mailto:proposal@kepengg.com">proposal@kepengg.com</a>,
                <a href="mailto:business@kepengg.com">business@kepengg.com</a>
            </p>
            <p>
                Web: <a href="http://www.kepengg.com">www.kepengg.com</a>
            </p>
        </div>

        
        <table style="font-weight: bold;">
            <tr>
                <td colspan="2" style="font-size: 20px; font-weight: bold; color: rgb(61, 132, 61); text-align: center; border: 1px solid black; ">TECHNO COMMERCIAL PROPOSAL</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; ">Client</td>
                <td style="border: 1px solid black; ">M/S</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; ">System</td>
                <td style="border: 1px solid black; ">ATFD</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; ">Capacity</td>
                <td style="border: 1px solid black; ">1000 Kg/hr</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; ">Proposal Ref. No.</td>
                <td style="border: 1px solid black; ">KEP23XXX-ATFD-PR-101-R0</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; ">Revision No.</td>
                <td style="border: 1px solid black; ">R0 (Manual)</td>
            </tr>
            <tr>
                <td style="border: 1px solid black; ">Submission Date</td>
                <td style="border: 1px solid black; ">04<sup>th</sup> January 2024</td>
            </tr>
        </table>

        <div>
            <p>Suitable image to be added</p>
        </div>

        <table>
            <tr>
                <td>Prepared By</td>
                <td>Checked By</td>
                <td>Approved By</td>
            </tr>
            <tr>
                <td>Vikas/Pratik</td>
                <td>Madhukar</td>
                <td>Malu Kamble</td>
            </tr>
        </table>

        <div>
            <p>
                THIS PROPOSAL DOCUMENT IS SUPPLIED TO YOU IN STRICT CONFIDENCE. THIS DOCUMENT IS THE PROPERTY OF KEP
                ENGINEERING SERVICES PVT. LTD. AND CONTAINS COMMERCIALLY SENSITIVE, TRADE SECRET, OR OTHER CONFIDENTIAL
                INFORMATION. NO TECHNICAL INFORMATION IN THIS DOCUMENT IS SUBMITTED TO YOU WITH ANY UNDERSTANDING,
                EXPRESS OR IMPLIED, THAT YOU WILL NOT USE IT FOR ANY PURPOSE OTHER THAN THE PURPOSES FOR WHICH IT IS
                SUBMITTED TO YOU. THIS DOCUMENT, OR ANY PART OF IT, COULD REASONABLY BE EXPECTED TO LEAD TO SIGNIFICANT
                ADVANTAGE OR DISADVANTAGE TO KEP ENGINEERING SERVICES PVT. LTD. COMPETITORS AND INDUSTRY PARTNERS, AND
                UNDER FINANCIAL GAIN TO ONE OR MORE THIRD PARTIES.
            </p>
        </div>
    </div>
</div>

<!-- Page 2 -->
<div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>HIGHLIGHTS OF THE OFFER</h3>
            <ol>
                <li>Following unit operations are selected:</li>
                <ul>
                    <li>Agitated Thin Film Dryer. (Select from Index Page)</li>
                </ul>
                <li>The System is designed for the Steam pressure of 6 bar (g).</li>
                <li>
                    Supply of utilities like Cooling Tower with fan, pumps, Power, Boiler & associated piping’s are in
                    client scope. (Editable format)
                </li>
            </ol>
        </section>

        <section>
            <h3>BASIS OF DESIGN</h3>
            <table >
                <tr>
                    <td style="width:50%">Mass Flow Rate</td>
                    <td style="width:50%">1000 Kg/hr. (From mass flow diagram)</td>
                </tr>
                <tr>
                    <td style="width:50%">Initial TDS</td>
                    <td style="width:50%">35% (w/w) (From mass flow diagram)</td>
                </tr>
                <tr>
                    <td style="width:50%">Steam Pressure</td>
                    <td style="width:50%">6 bar (g). (Editable)</td>
                </tr>
                <tr>
                    <td style="width:50%">PH</td>
                    <td style="width:50%">7 – 8. (Editable)</td>
                </tr>
                <tr>
                    <td style="width:50%">C.W. Inlet Temp</td>
                    <td style="width:50%">32°C. (Editable)</td>
                </tr>
                <tr>
                    <td style="width:50%">C. W. Outlet Temp</td>
                    <td style="width:50%">38°C. (Editable)</td>
                </tr>
                <tr>
                    <td style="width:50%">Drive</td>
                    <td style="width:50%">Electrical, 415 ± 10% V, 50 Hz, 3Φ. (Editable)</td>
                </tr>
                <tr>
                    <td style="width:50%">Operation</td>
                    <td style="width:50%">Continuous. (Editable)</td>
                </tr>
            </table>
        </section>
    </div>
</div>

<!-- Page 3 -->
<div class="container">
    <img class="image" src="assets/Picture1.png" alt="">

    <div class="a4-border">
        <section>
            <h3>FLOW SCHEMATIC</h3>
            <img src="assets/diagram.png" alt="" style="margin: 0 auto; display: block;">
        </section>
        <section>
            <h4 style="font-size: 16px;">Agitated Thin Film Dryer:</h4>
            <table>
                <thead>
                    <tr>
                        <th style="font-weight: bold;">Sr. No.</th>
                        <th style="font-weight: bold;">Specifications</th>
                        <th style="font-weight: bold;">Units</th>
                        <th style="font-weight: bold;">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Evaporation Rate</td>
                        <td>kg/hr</td>
                        <td>611</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Feed Rate</td>
                        <td>kg/hr</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Initial TDS</td>
                        <td>w/w%</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Solid Recovery @ 10% Moisture</td>
                        <td>kg/hr</td>
                        <td>389</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <h3>UTILITY</h3>
        <h4>Cooling Water:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Specifications</th>
                        <th>Units</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>C.W. Inlet Temperature</td>
                        <td>°C</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>C.W. Outlet Temperature</td>
                        <td>°C</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ATFD</td>
                        <td>m<sup>3</sup>/hr</td>
                        <td>720</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Total C.W. Circulation Rate</td>
                        <td>m<sup>3</sup>/hr</td>
                        <td>1805</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Cooling Tower Req. Capacity</td>
                        <td>TR</td>
                        <td>3650</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

<!-- Page 4 -->

<!-- Page 5 -->
<div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h4>Steam:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Specifications</th>
                        <th>Units</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Steam Pressure</td>
                        <td>kg/cm<sup>2</sup>(g)</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Steam Temperature</td>
                        <td>°C</td>
                        <td>165</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>ATFD</td>
                        <td>kg/hr</td>
                        <td>8580</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Total Steam Supply</td>
                        <td>kg/hr</td>
                        <td>21260</td>
                    </tr>
                </tbody>
            </table>
            <h4>Power (Connected):</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Specifications</th>
                        <th>Units</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ATFD</td>
                        <td>kW</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Total Power Supply</td>
                        <td>kW</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
            <h4>Instrument Air:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Specifications</th>
                        <th>Units</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Instrument Air Pressure</td>
                        <td>kg/cm<sup>2</sup>(g)</td>
                        <td>5-6</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Instrument Air Supply</td>
                        <td>NM<sup>3</sup>/hr</td>
                        <td>0.6</td>
                    </tr>
                </tbody>
            </table>
            
        </section>
    </div>
</div>

<!-- Page 6 -->


<!-- Page 7 -->
<div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <h3>KEP SCOPE OF WORK & MOC</h3>
            <p>Design, Engineering, Manufacturing of ATFD unit for zero discharge is our scope of work. Following Equipment are considered in our scope of work:</p>
        <h4 class="text-lg font-semibold mb-2">
            Agitated Thin Film Dryer:
           </h4>
           <table class="w-full border-collapse border border-gray-400 text-sm">
            <thead>
             <tr>
              <th class="border border-gray-400 p-2">
               Sr. No.
              </th>
              <th class="border border-gray-400 p-2">
               Particulars
              </th>
              <th class="border border-gray-400 p-2">
               M.O.C. (Standard/Non-Standard/Dropdown)
              </th>
              <th class="border border-gray-400 p-2">
               Quantity
              </th>
             </tr>
            </thead>
            <tbody>
             <tr>
              <td class="border border-gray-400 p-2">
               1.
              </td>
              <td class="border border-gray-400 p-2">
               Agitated Thin Film Dryer
              </td>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               01 Set
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Inner main Shell
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               SS316L (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Jacket
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               CS (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Rotor
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               SS316L (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Blades
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               SS316L (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Top Cover and Flange
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               MS + SS316 Lined (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Body Flanges
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               MS + SS316 Lined (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Shaft seal (gland packing type)
              </td>
              <td class="border border-gray-400 p-2">
               Standard
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Top Bearing
              </td>
              <td class="border border-gray-400 p-2">
               SKF
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Bottom bush
              </td>
              <td class="border border-gray-400 p-2">
               Graphite
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               ATFD motor with Gear Box
              </td>
              <td class="border border-gray-400 p-2">
               Standard
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Drive Stool Assembly
              </td>
              <td class="border border-gray-400 p-2">
               MS
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
               2.
              </td>
              <td class="border border-gray-400 p-2">
               Surface Condenser
              </td>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               01 Nos (Form Chart)
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Tubes
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               SS304 (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Tube Sheet
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               SS304 (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Shell
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               SS304 (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Shell Ends
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               SS304 (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
               3.
              </td>
              <td class="border border-gray-400 p-2">
               Pumps with Motors
              </td>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Working/Non-Standard
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               SS304 (drop down selection)
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
             <tr>
              <td class="border border-gray-400 p-2">
              </td>
              <td class="border border-gray-400 p-2">
               Working
              </td>
              <td class="border border-gray-400 p-2 bg-yellow-200">
               Standby
              </td>
              <td class="border border-gray-400 p-2">
              </td>
             </tr>
            </tbody>
           </table>
    </div>

</div>

<!-- Page 8 -->
<div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h4>Surface Condenser:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Particulars</th>
                        <th>M.O.C.</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Tubes</td>
                        <td>SS304</td>
                        <td>1 Nos</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Tube Sheet</td>
                        <td>SS304</td>
                        <td>1 Nos</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Shell</td>
                        <td>SS304</td>
                        <td>1 Nos</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Dish Ends</td>
                        <td>SS304</td>
                        <td>1 Nos</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>Pumps with Motors:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Particulars</th>
                        <th>M.O.C.</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Feed Pump (Working)</td>
                        <td>SS316</td>
                        <td>1 Nos</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Condensate Pump (Standby)</td>
                        <td>SS304</td>
                        <td>1 Nos</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Blower (Working)</td>
                        <td>SS304</td>
                        <td>1 Nos</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<!-- Page 9 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h4>Tanks & Vessels:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Particulars</th>
                        <th>M.O.C.</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Feed Balance Tank</td>
                        <td>SS316</td>
                        <td>1 Nos</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Entrainment Separator</td>
                        <td>SS304</td>
                        <td>1 Nos</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Cond. Vessel</td>
                        <td>SS304</td>
                        <td>1 Nos</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h4>Pipes & Fittings:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Particulars</th>
                        <th>M.O.C.</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Process Piping</td>
                        <td>SS316</td>
                        <td>1 Lot</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Vapor Ducting</td>
                        <td>SS304</td>
                        <td>1 Lot</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Condensate Piping</td>
                        <td>SS304</td>
                        <td>1 Lot</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div> -->

<!-- Page 10 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>INSTRUMENTATION</h3>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Specification</th>
                        <th>M.O.C.</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Magnetic Flow Meter</td>
                        <td>Dropdown selection</td>
                        <td>2 Nos</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Rota Meter</td>
                        <td>Dropdown selection</td>
                        <td>2 Nos</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Control Valves</td>
                        <td>Dropdown selection</td>
                        <td>2 Nos</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Solenoid Valves</td>
                        <td>Dropdown selection</td>
                        <td>3 Nos</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Temperature Indicators (RTD’s)</td>
                        <td>Dropdown selection</td>
                        <td>4 Nos</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Level Indicators</td>
                        <td>Dropdown selection</td>
                        <td>4 Nos</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Level Switches</td>
                        <td>Dropdown selection</td>
                        <td>10 Nos</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Pressure Gauges</td>
                        <td>Dropdown selection</td>
                        <td>2 Nos</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Temperature Gauges</td>
                        <td>Dropdown selection</td>
                        <td>6 Nos</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Vacuum Gauges</td>
                        <td>Dropdown selection</td>
                        <td>2 Nos</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>HMI– PLC</td>
                        <td>Standard</td>
                        <td>1 Set</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div> -->

<!-- Page 11 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>ELECTRICAL PANEL</h3>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Specification</th>
                        <th>M.O.C.</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Electrical</td>
                        <td>Checkbox</td>
                        <td>1 Unit</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Common MCC Panel</td>
                        <td>Checkbox</td>
                        <td>1 Unit</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Cables</td>
                        <td>Checkbox</td>
                        <td>1 Unit</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Earthing</td>
                        <td>Checkbox</td>
                        <td>1 Unit</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Cable Trays</td>
                        <td>Checkbox</td>
                        <td>1 Unit</td>
                    </tr>
                </tbody>
            </table>
        </section>
        
        <section>
            <h3>INSULATION WORK</h3>
            <p>
                1. Mineral Wool of 70 mm thickness.<br>
                2. Aluminum Cladding 20 SWG.<br>
                3. Density of insulation material is 120 kg/m<sup>3</sup>.
            </p>
        </section>
        
        <section>
            <h3>EQUIPMENT AND PIPING SPECIFICATION</h3>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Equipment</th>
                        <th>M.O.C.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nut Bolts and washers</td>
                        <td>Hot Dip Galvanized</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ball Valve upto 20 NB</td>
                        <td>Threaded End</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Ball Valve above 20 NB</td>
                        <td>Flange end AS A150</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Piping</td>
                        <td>Sch-10, ERW</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Elbow</td>
                        <td>Sch-10, ERW</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Reducer</td>
                        <td>Sch-10, ERW</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Nozzle Flanges</td>
                        <td>MS + SS Cladding</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Body Flanges</td>
                        <td>MS + SS Cladding</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Gasket</td>
                        <td>Non – Metallic</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Structure Painting</td>
                        <td>Standard</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div> -->

<!-- Page 12 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>BROUGHT OUT ITEMS AND OTHER SPECIFICATION</h3>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Equipment</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Pumps</td>
                        <td>Centrifugal with all wetted part SS316 all other are CI.</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Recirculation pumps</td>
                        <td>Axial Flow with all wetted part SS316 all other are CI.</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Vacuum Pump</td>
                        <td>Watering vacuum Pump with partial SS304 MOC.</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Motors</td>
                        <td>Non –Flame Proof, IE 2.</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Mechanical seal</td>
                        <td>Double mechanical, which operate under vacuum.</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Instrumentation</td>
                        <td>Non –Flame Proof.</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>MCC Panel</td>
                        <td>Non - Flame Proof, Non Compartmentalised</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section>
            <h3>BATTERY LIMITS</h3>
            <p>Feed: At the inlet of Feed Balance Tank.<br>
            Steam: At the inlet Nozzle of ATFD Shell.<br>
            Steam Condensate: At the outlet nozzle of ATFD Shell.<br>
            Condensate: At the outlet of Condensate discharge Pump.<br>
            Cooling Water: At the inlet & outlet nozzle of Condenser.<br>
            Instrument Air: At the inlet of each instrument.<br>
            Service water: At the inlet of feed balance tank, seal water tank, ATFD balance Tank.<br>
            Power: At the inlet of Control Panel.<br>
            Solids/Slurry: At the outlet of ATFD.<br>
            Drain: At the outlet Nozzle of each equipment.</p>
        </section>
    </div>
</div> -->

<!-- Page 13 -->
<div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>DOCUMENTATION</h3>
            <h4>Engineering Documents:</h4>
            <ul>
                <li>Detailed Material balance.</li>
                <li>Equipment load list for design for structure.</li>
                <li>P&ID.</li>
                <li>Layout drawing.</li>
                <li>GA drawing.</li>
                <li>Floor wise Drawing.</li>
                <li>Utility P&ID.</li>
                <li>Single line diagram for electrical panel along with GA.</li>
                <li>Data sheet for instruments.</li>
                <li>Pump performance curve along with spare list.</li>
                <li>Design qualification.</li>
                <li>Installation qualification.</li>
                <li>Operation and maintenance manual.</li>
                <li>Commissioning report.</li>
            </ul>
            <h4>Quality Documents:</h4>
            <ul>
                <li>QAP.</li>
                <li>Material flow chart.</li>
                <li>Nozzle flow chart.</li>
                <li>Final inspection report.</li>
                <li>All the MTC.</li>
                <li>Third party inspection report for tubes.</li>
                <li>Hydro test certificate.</li>
            </ul>
        </section>
    </div>
</div>

<!-- Page 14 -->
<div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>SCOPE MATRIX</h3>
            <h4>Scope of Work Division</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Activities</th>
                        <th>KEP Scope</th>
                        <th>Client Scope</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Design, Engineering & supply of above Equipment</td>
                        <td>☑</td>
                        <td>☐</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Supervision of erection and commissioning</td>
                        <td>☑</td>
                        <td>☐</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Training of operator to operate the plant for 15 days</td>
                        <td>☑</td>
                        <td>☐</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Submission of documents & Drawings</td>
                        <td>☑</td>
                        <td>☐</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>MS- Structure and Platform Work with roof & Side louvers</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Supply, installation of Cooling Tower, Pump, Piping & Fittings upto ATFD System</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Cooling Tower FRP/RCC Basin</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Supply, installation of Steam Boiler & Steam Piping & Fittings upto ATFD System</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Chemical for Plant operation</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>All Civil & Foundation</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Air Compressor, Airline & Fittings</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Supply of Cable & Cable Trays</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>All electrical works</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Plant Insulations</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Skilled and Unskilled workers</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Erection of Equipment</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Piping Fabrication at Site</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Three phase Power supply to Electrical panel</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Painting of Piping</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>All piping out of battery limit</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Transportation Charges</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>Transit Insurance</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>Dosing Chemicals</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>Safe Storage of Equipment and other items are in client scope</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>Unloading at site</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>Anything, which is not mentioned specially in our scope</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>Any theft of material or equipment or brought out items will be bear by Client</td>
                        <td>☐</td>
                        <td>☑</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<!-- Page 15 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>COOLING TOWER</h3>
            <p><strong>Design Parameters per Cell</strong></p>
            <p>
                Water Flow Rate: 265 m<sup>3</sup>/hr (Editable)<br>
                Inlet (HWT): 38 °C<br>
                Outlet (CWT): 32 °C<br>
                Design Wet Bulb Temperature: 28 °C
            </p>
            <p><strong>Auxiliary Equipment per Cell</strong></p>
            <p>
                Type of Fan: Axial Flow, Direct Driven<br>
                Description: Vertical Flange Mounted, Squirrel Cage TESC/TEAO<br>
                Weather Proof Induction Motor suitable for supply of 415 V ± 6% 50 Hz ± 3% with class of insulation “F” and IP-55 Degree of Protection.
            </p>
            <p><strong>Water Losses per Cell</strong></p>
            <p>
                Evaporation Loss: 0.98 % of Circulating Water<br>
                Drift Loss (Max.): 0.005 % of Circulating Water<br>
                Blow Down (with 5 COC): 0.24 % of Circulating Water<br>
                Make-up Water Quantity (with blow down): 1.225 % of Circulating Water
            </p>
            <p><strong>Material of Construction</strong></p>
            <p>
                Casing: Seamless FRP (Panel Type)<br>
                Fills: PVC Honey Comb Type<br>
                Drift Eliminators: PVC<br>
                Nozzles: PP/ABS LOW PRESSURE DROP NON CLOGGING TYPE<br>
                Water Distribution Headers: PP WITH FRP MOULDED. NON CORROSIVE<br>
                Fan Blades / Hub: FRP. (Non Corrosive Type)<br>
                PVC Fills Support/ Eliminators Support: FRP Pultruded<br>
                Support Structure: FRP Pultruded
            </p>
            <p>Note: Cooling Tower RCC Basin is in Client scope.</p>
        </section>
    </div>
</div> -->

<!-- Page 16 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>COST & ECONOMICS</h3>
            <p>Here we have expressed the commercial aspect of the Design, Engineering, Manufacturing of Zero Liquid Discharge System as per the Technical Specification and Scope of work declared in the preceding clauses or points.</p>
            <h4>Price for KEP Scope of Supply:</h4>
            <table>
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Description</th>
                        <th>Total Price (Rs. In Lakhs)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Price Agitated Thin Film Dryer as per the scope mentioned in the offer</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Price for Structure, structure fabrication, Cable, Cable trays, Plant insulation, Erection of Equipment, Piping Fabrication & Painting</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2"><strong>TOTAL</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <p>Total Price (In Words): </p>
        </section>
    </div>
</div> -->

<!-- Page 17 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>TERMS AND CONDITIONS</h3>
            <h4>Delivery:</h4>
            <p>We will deliver the equipment within 5 Months (editable) from the date of receipt of technically and commercially clear purchase order along with requisite advance.</p>
            <p>The delivery period indicated above is subject to force majeure conditions stipulated below and also subject to buyer fulfilling his obligations in time as per contract.</p>
            <p>Approvals of drawings/design calculations, if any, should be given within 7 days of submission. In the event the work is delayed on account of the above reasons, the completion time shall be suitably extended.</p>
            <h4>Payment Terms: (Editable)</h4>
            <p>50 % advance along with technically and commercially clear purchase order.<br>
            45 % payment against proforma Invoice along with the Taxes.<br>
            05 % against successful completion of commissioning within 15 days. However, if erection/commissioning of the plant gets delayed because of no fault of ours, beyond stipulated time as indicated in the clause regarding delivery, our full and final payment shall be released on completion of maximum period of 8 weeks from last date of major supplies.</p>
            <p>Supervision of erection & commissioning will not be undertaken till the receipt of the Payments.</p>
            <p>In case the payments are delayed beyond the contractual terms then the following terms of contract stand nullified.</p>
            <p>Liquidated Damages<br>
            Guarantee and warranty of the equipment.</p>
            <h4>Taxes:</h4>
            <p>GST: 18% (Extra at actual).</p>
            <h4>Proposal Validity:</h4>
            <p>The offer is valid for 30 days.</p>
            <h4>Insurance:</h4>
            <p>Transit insurance will be paid by Client. (based on scope matrix selection)</p>
            <h4>Transportation:</h4>
            <p>Transportation will be paid by Client. (based on scope matrix selection)</p>
            <h4>Packing:</h4>
            <p>Packing included in KEP Scope. Any Standard of packing is required then the client needs to specify before order finalization.</p>
            <h4>Supervision:</h4>
            <p>Traveling expenses from Hyderabad to site, lodging, boarding and local conveyance during erection and commission for our team shall be arranged by Client. (Editable)</p>
            <h4>Non-lifting of the Equipment:</h4>
            <p>If the equipment is not lifted by the “Purchaser” within 15 days after intimation by KEP that the equipment is ready, then the “Purchaser” will be liable to pay demurrage at a rate of 0.5% per week to a maximum of 10% of the total contract price for such delay before lifting of the equipment. Further, if it is not lifted in the next 3 months after intimation, then advance will be forfeited and the equipment will be sold/disposed of to any other party.</p>
            <h4>Non-Payment of Due Amounts:</h4>
            <p>If there is any default from the “Purchaser” for payment of the payable amounts as per our terms and conditions mentioned in our offer, within the respective due dates, then the “Purchaser” will have to pay interest on the particular amount at a rate of 1.5% per month calculated on a monthly basis and taken from the day subsequent to the day when the due date gets over. This amount will be in addition to the total price of the equipment.</p>
        </section>
    </div>
</div> -->

<!-- Page 18 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h4>Inspection:</h4>
            <p>If necessary &/or mutually agreed, the equipment shall be offered for visual inspection and pressure testing at our works/sub-vendors place. The date of inspection shall be intimated by us in advance. If inspection is not carried out on the date agreed, we shall be free to dispatch the consignment as per the terms of delivery. However, on successful completion of the inspection, if the “purchaser” fails to lift the equipment, the Non-Lifting of Equipment clause will be applicable.</p>
            <h4>Warehouse Charges:</h4>
            <p>If payment is not made within 15 days from the date of Proforma Invoice, KEP reserves the right to divert the ordered material. We will give a fresh delivery period and new price at the time of diversion which will be binding on the purchaser and the contract cannot be rendered void on this account. If the goods are not diverted, charges for storage, insurance and interest at 1% of the Invoice value each week/part thereof commencing 15 days from the date of Proforma Invoice will be charged. Warehousing charges are subject to a maximum of 5% of the Invoice value.</p>
            <h4>Cancellation of Purchase Order:</h4>
            <p>Order Received and acknowledged by us shall not be subject to cancellation for any reason whatsoever. However, if the purchaser unilaterally cancels the order, 25% of the basic contract value or advance payment whichever is more, shall be forfeited and no claim shall be entertained on this issue.</p>
            <h4>Manufacturing of Equipment:</h4>
            <p>Fabrication of the equipment will start only after receipt of the advance payment at our end. The same is required for procurement of raw materials, therefore on non-payment of the advance the project cannot start.</p>
            <h4>Completion:</h4>
            <p>Erection, Commissioning, and handing over of the plant shall be construed as completed as detailed below:</p>
            <h4>Commissioning:</h4>
            <p>The plant shall be considered as commissioned on attaining the required rate of evaporation for a maximum of 3 runs/cycles jointly witnessed/demonstrated. Minor corrections, modifications like leakages, component rectification, etc. not affecting commissioning shall be completed later.</p>
            <p>Buyer shall also engage persons required to operate and run the plant continuously, as per the instruction of the seller. During this process, it is important for these personnel to get trained in the operation of the plant.</p>
            <p>In case the buyer is not able to provide effluent for a period of 1 month then the system is considered to be commissioned. Due to changes in the effluent characteristic as that of the design then the seller will not be responsible for the performance of the system. We can study and conclude that changes in effluent, system capacity can be increased or decreased. Overall efficiency of the system is ±5%.</p>
            <h4>Hand over:</h4>
            <p>The plant shall be considered as handed over to the client once the commissioning runs/cycles have been completed as referred to above.</p>
            <h4>Guarantee/Warranty:</h4>
            <p>The equipment supplied is guaranteed for:</p>
            <p>A period of 12 months from the date of commissioning.<br>
            Start of regular operation of the plant.<br>
            18 months from the date of last major supply, whichever is the earliest of the three events.</p>
            <p>Equipment Guarantee is valid against defective workmanship and/or poor performance of the system only. Our liability is limited to repair or replace the defective/non-performing items at our discretion. Equipment Guarantee is not valid for claims relating to routine/normal wear and tear. Also, supply of consumables and spares for regular operation of the system is not in our scope nor is covered by any Guarantee/Warranty.</p>
        </section>
    </div>
</div> -->

<!-- Page 19 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h4>The guarantee is also subject to the following conditions:</h4>
            <p>Buyer is adhering to instructions as mentioned in system performance warranty annexure.<br>
            Buyer is using spare parts and consumables recommended by us.<br>
            Buyer is taking care of preventive maintenance as suggested by us.<br>
            Buyer is maintaining operation and maintenance data/records/logs sheets and the same is made available whenever asked for by us. Normally we recommend sending records every 15 days by courier or e-mail to us.<br>
            Chemicals and consumables required for day-to-day operation are not covered under the Guarantee/Warranty.<br>
            Corrosion resistance of the MOC is not covered under the guarantee since the feed parameters may vary. We will submit the material test certificates & also if required you can verify the same at your end.<br>
            Steam pressure shall not be increased more than the design pressure in any case. In case of any damage due to the same will be bared by Client. DCS recorded to be provided for any claim.<br>
            Proper storage to be provided for the Equipment and other supply. In case of any loss or damage of the Equipment supplied by KEP shall be compensated by the client.</p>
            <h4>Excess Material:</h4>
            <p>Balance material and equipment after Hydrotest to be returned to KEP.</p>
            <h4>Statutory Variation:</h4>
            <p>Any change in Govt., duties levies, taxes, or policies having direct effect on our above-quoted prices will be at buyers' account for which documentary evidence will be submitted on request.</p>
            <h4>General Note:</h4>
            <p>Final Product outlet will depend on the nature of the solid/slurry. Concentration/Moisture content in the Evaporation Plant will not be the Part of performance criteria for Evaporation Plant.<br>
            All above capacities and Utility consumption and Condensate recovery data are guaranteed for ±5%.<br>
            There will not be any warranty on the suitability of Material of Construction selected and will not be a part of Performance Bank Guarantee.<br>
            Any engineering specifications required have to be submitted and confirmed before finalization of order. Then after any such requirement will be at additional cost and delivery time.<br>
            Plant performance will be decided only based on confirmed output at specified input conditions and specified tolerances only. No parameter limit of the plant like inter-stage pressures, temperatures, concentrations, vacuum, pH, or any interim process parameter is a part of plant performance.<br>
            In absence of engineering requirement related to site work, KEP will follow their standard practices. If there is any defined procedure it has to be submitted by the client before finalization of the order.<br>
            KEP will submit only engineering documents, no design documents will be submitted since it is our propriety.<br>
            Final payment against commissioning must not be linked with the failure of any Instruments during the commissioning stage since it’s bought out for us and not possible to have control on repair/replacement of damaged Instruments. However, the client can hold the appropriate amount till replacement/repair done by KEP.<br>
            Mobile phones must be allowed on permanent basis till site commissioning is completed.<br>
            The plant will be taken for commissioning after Mechanical completion, hydro test, and Water trial only. All the punch points need to be listed before Mechanical completion only. After Mechanical completion only process related modifications will be carried out.<br>
            Any Consumables, Chemicals, Cleaning requirement, Material handling will be the scope of client only.<br>
            Site safety manual and installation requirements must be provided by the client during the proposal stage only. In case of non-availability of the safety manual, KEP will follow their standard procedure only.<br>
            All site services in the scope of KEP will be carried out by sub-contractors of M/s KEP and not by an employee of KEP. Our sub-contractor will provide all HR-related documents on the name of his organization along with PO/WO from KEP for the specified site. There may be one or more sub-contractors involved based on the quantum of work and type of work at the site as per scope.<br>
            Our site team must get a work permit within 30 minutes after approaching the company gate once all documents submitted for the first time and then after once document due date is over.<br>
            Procedure for extension of work permit need to decide during the proposal stage only.<br>
            Visit of representative of client is a must once in a day even if site activities are in KEP scope to reduce repeat work and to take care in-process correction if any.<br>
            MOM of site conditions must be signed jointly at least twice in a week by site in charge from both sides.<br>
            In case of any delay in commissioning due to constraints from the client, KEP will submit a bank guarantee and payment must be released and commissioning will be done by KEP on the client’s call later stage.<br>
            KEP will demonstrate plant performance once to the client on rated performance parameter. KEP will not be responsible for submitting any compliance, demonstrating performance to any third party appointed by the client for any purpose.<br>
            KEP can change the scheme and number of effects after order finalization.</p>
        </section>
    </div>
</div> -->

<!-- Page 20 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>REQUIREMENTS FOR SMOOTH PLANT OPERATION - CLIENT SCOPE</h3>
            <p>Underground Tank to drain the plant during sudden shutdown or power failure.<br>
            Plant Drainage system to drain the plant immediately using gravity.<br>
            Anti-scalent dosing to reduce scaling tendency (Only with the recommendation of Chemical Supplier which should not affect the properties and quality of final product).<br>
            Antifoaming agent dosing in case of foaming tendency of Feed (Only with the recommendation of Chemical Supplier which should not affect the properties and quality of final product).<br>
            Chemical Storage Tank for Storage of Chemical required for CIP.<br>
            Keep consumables like View Glasses, Flow Glasses, Couplings, Bearings, Mechanical Seals, Glands, Oil, Grease, Gaskets, etc. as spare so that they can be replaced immediately.</p>
        </section>
    </div>
</div> -->

<!-- Page 21 -->
<!-- <div class="container">
    <img class="image" src="assets/Picture1.png" alt="">
    <div class="a4-border">
        <section>
            <h3>DOCUMENT END</h3>
            <p>Thanks & Regards<br>
            For KEP Engineering Services Pvt. Ltd.<br>
            Malu Kamble - MD<br>
            +91-9701055511</p>
            <p><strong>Date:</strong> 04/01/2024</p>
        </section>
    </div>
</div> -->



<%- include('partials/footer') %>
